<div class="row">
  <div class="col-lg-4 mx-auto">
    <main class="form-signin w-100 m-auto">
      <div>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" [(ngModel)]="u">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="p">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="button" (click)="login()">Sign in</button>
      </div>
    </main>
  </div>
</div>
