<button style="padding: 20px; color: white; background-color: blue;" routerLink="core/new">new</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="core/review">review</button>

<button style="padding: 20px; color: white; background-color: green;" routerLink="setting">settings</button>

<button style="padding: 20px; color: white; background-color: blue;" routerLink="plugin/stats">statistics</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="plugin/search">search</button>
<button style="padding: 20px; color: white; background-color: blue;" routerLink="plugin/quiz">quiz</button>

<router-outlet></router-outlet>